body {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.timeline {
    .green,
    .purple,
    .orange,
    .blue {
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 10px;
    }
    .green {
        background-color: green;
    }
    .purple {
        background-color: purple;
    }
    .orange {
        background-color: orange;
    }
    .blue {
        background-color: #004272;
    }
}

.to {
    .blue1,
    .blue2,
    .blue3 {
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 10px;
    }
    .blue1 {
        background-color: #1960ae;
    }
    .blue2 {
        background-color: #94bfd8;
    }
    .blue3 {
        background-color: #025291;        ;
    }
}